body {
    margin: 0;
    font-family: Roboto, Helvetica, sans-serif;
    background: #F0F7FF;
}

.container {
    max-width: 1440px;
    min-width: 1140px;
    margin: 0 auto;
}

/* --- <HEADER> --- */
.header {
    display: flex;
    align-items: center;
    padding: 0 130px;
}

.header__nav {
    flex-grow: 1;
}

.menu {
    display: flex;
    list-style: none;
}

.menu__item {
    margin: 0 30px;
}

.menu__link {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}

.menu__link:hover {
    color: #456C98;
}

.menu__link--active {
    color: #000;
}

.menu__link--active::before {
    position: absolute;
    left: 50%;
    bottom: -15px;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #456C98;
    transform: translateX(-50%);
}

.header__login {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 20px;
    background: #456C98;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}
/* --- </HEADER> --- */

/* --- <SEARCH> --- */
.search {
    position: relative;
}

.search__image {
    width: 100%;
}

.search__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.headline {
    margin: 15px 0;
    font-family: Optima, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    color: #1E2D3E;
}

.search__bar {
    position: relative;
    background: url(assets/vector.svg) no-repeat 15px center;
}

.search__input {
    width: 500px;
    padding: 0 20px 0 50px;
    font-size: 22px;
    line-height: 55px;
    background: rgba(255, 255, 255, 0.5);
    border: 0;
    border-radius: 5px;
}

.search__label {
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}
/* --- </SEARCH> --- */

/* --- <MAIN> --- */
.main {
    margin-top: 60px;
    padding: 0 230px;
}

.heading {
    margin: 20px 0;
    font-family: Optima, Helvetica, sans-serif;;
    font-weight: 700;
    font-size: 48px;
}

.text {
    margin: 20px 0;
    font-size: 18px;
}

.about {
    max-width: 800px;
}

.recipes {
    margin-top: 50px;
}

.recipes__image {
    float: left;
    width: calc(50% - 10px);
    margin-right: 20px;
}

.inline {
    display: inline;
}
/* --- </MAIN> --- */

.image {
    position: relative;
    width: 100%;
    margin-top: -100px;
    z-index: -1;
}

/* --- <FOOTER> --- */
.footer {
    display: flex;
    align-items: center;
    padding: 0 130px;
}  

.footer__copyright {
    flex-grow: 1;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 30px;
}

.footer__socials {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 18px 0;
}

.footer__socials-link {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 0;
}

.footer__socials-item + .footer__socials-item {
    margin-left: 17px;
}

.footer__socials-link--insta {
    background: url(assets/insta.png);
}

.footer__socials-link--fb {
    background: url(assets/fb.png);
}

.footer__socials-link--pt {
    background: url(assets/pinterest.png);
}
/* --- </FOOTER> --- */